body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-90px;
  width:469px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:-43px;
  width:469px;
  height:813px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:813px;
}
#u1 {
  position:absolute;
  left:2px;
  top:398px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:181px;
  top:103px;
  width:295px;
  height:523px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:523px;
}
#u3 {
  position:absolute;
  left:2px;
  top:254px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:221px;
  width:316px;
  height:216px;
  color:#084A08;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:216px;
}
#u5 {
  position:absolute;
  left:2px;
  top:100px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
