body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-90px;
  width:469px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:-43px;
  width:469px;
  height:813px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:813px;
}
#u1 {
  position:absolute;
  left:2px;
  top:398px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:181px;
  top:103px;
  width:295px;
  height:523px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:523px;
}
#u3 {
  position:absolute;
  left:2px;
  top:254px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:342px;
  width:214px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:197px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u5 {
  position:absolute;
  left:220px;
  top:392px;
  width:214px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:197px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u6 {
  position:absolute;
  left:181px;
  top:103px;
  width:295px;
  height:37px;
  font-family:'Roboto Regular', 'Roboto';
}
#u6_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:305px;
  height:47px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:198px;
  top:111px;
  width:44px;
  height:23px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-size:17px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:381px;
  top:417px;
  width:56px;
  height:35px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-size:15px;
  color:#8445AD;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:278px;
  top:593px;
  width:100px;
  height:16px;
  color:#8445AD;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:217px;
  top:316px;
  width:217px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:217px;
  top:366px;
  width:217px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:264px;
  top:174px;
  width:116px;
  height:116px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
