body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:50px;
  width:1366px;
  height:4px;
}
#u5_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:14px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:54px;
  width:250px;
  height:714px;
}
#u7_img {
  position:absolute;
  left:-3px;
  top:-5px;
  width:260px;
  height:724px;
}
#u8 {
  position:absolute;
  left:2px;
  top:349px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:31px;
  top:7px;
  width:207px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:446px;
  top:20px;
  width:218px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:294px;
  top:142px;
  width:1022px;
  height:588px;
}
#u13_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1032px;
  height:598px;
}
#u14 {
  position:absolute;
  left:2px;
  top:286px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:294px;
  top:72px;
  width:234px;
  height:28px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:294px;
  top:142px;
  width:1022px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:35px;
}
#u18 {
  position:absolute;
  left:10px;
  top:10px;
  width:1010px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1270px;
  top:25px;
  width:50px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:320px;
  top:206px;
  width:620px;
  height:314px;
  font-size:14px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:324px;
}
#u22 {
  position:absolute;
  left:2px;
  top:149px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:373px;
  top:226px;
  width:204px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:335px;
  top:226px;
  width:21px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:901px;
  top:226px;
  width:21px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:355px;
  top:284px;
  width:165px;
  height:157px;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u30 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:546px;
  top:284px;
  width:165px;
  height:157px;
  font-size:14px;
  color:#CCCCCC;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u32 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:739px;
  top:284px;
  width:165px;
  height:157px;
  font-size:14px;
  color:#CCCCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u34 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:379px;
  top:465px;
  width:109px;
  height:19px;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:575px;
  top:465px;
  width:106px;
  height:19px;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:802px;
  top:465px;
  width:38px;
  height:19px;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:355px;
  top:284px;
  width:83px;
  height:78px;
  font-size:14px;
  color:#CCCCCC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
}
#u42 {
  position:absolute;
  left:2px;
  top:31px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:546px;
  top:284px;
  width:83px;
  height:157px;
  font-size:14px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:157px;
}
#u44 {
  position:absolute;
  left:2px;
  top:70px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:592px;
  top:353px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#333333;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:739px;
  top:284px;
  width:83px;
  height:157px;
  font-size:14px;
  color:#CCCCCC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:157px;
}
#u48 {
  position:absolute;
  left:2px;
  top:70px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:784px;
  top:353px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#333333;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:402px;
  top:356px;
  width:83px;
  height:42px;
  font-size:36px;
  color:#333333;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:656px;
  top:219px;
  width:164px;
  height:27px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:27px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u54 {
  position:absolute;
  left:975px;
  top:206px;
  width:290px;
  height:315px;
  font-size:14px;
  color:#CCCCCC;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:325px;
}
#u55 {
  position:absolute;
  left:2px;
  top:150px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1035px;
  top:231px;
  width:156px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#333333;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:994px;
  top:231px;
  width:25px;
  height:25px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1217px;
  top:231px;
  width:25px;
  height:25px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:994px;
  top:294px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:994px;
  top:338px;
  width:96px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:994px;
  top:383px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:994px;
  top:427px;
  width:35px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:994px;
  top:471px;
  width:95px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1211px;
  top:294px;
  width:17px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1187px;
  top:338px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1197px;
  top:383px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1197px;
  top:427px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1197px;
  top:471px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:1122px;
  top:295px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:1122px;
  top:339px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:1132px;
  top:384px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1132px;
  top:428px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#66CC00;
  text-align:right;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1132px;
  top:472px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1113px;
  top:274px;
  width:129px;
  height:29px;
  font-size:12px;
  color:#333333;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:0px;
  top:54px;
  width:250px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u95 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:95px;
  width:250px;
  height:42px;
  color:#AEAEAE;
  text-align:left;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u97 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:136px;
  width:250px;
  height:42px;
  color:#AEAEAE;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u99 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:177px;
  width:250px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#1996AD;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u101 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:219px;
  width:250px;
  height:42px;
  color:#AEAEAE;
  text-align:left;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u103 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:261px;
  width:250px;
  height:42px;
  color:#AEAEAE;
  text-align:left;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u105 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:303px;
  width:250px;
  height:42px;
  color:#AEAEAE;
  text-align:left;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
}
#u107 {
  position:absolute;
  left:20px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
