body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-16px;
  top:1px;
  width:1366px;
  height:1690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:837px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-16px;
  top:1px;
  width:1366px;
  height:41px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:51px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:-16px;
  top:42px;
  width:1366px;
  height:3px;
}
#u5_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:13px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-16px;
  top:180px;
  width:1366px;
  height:41px;
}
#u7_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:11px;
  top:52px;
  width:123px;
  height:123px;
  color:#333333;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:123px;
}
#u10 {
  position:absolute;
  left:2px;
  top:54px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:264px;
  top:86px;
  width:340px;
  height:50px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:602px;
  top:86px;
  width:82px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:807px;
  top:86px;
  width:130px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:702px;
  top:13px;
  width:98px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:807px;
  top:13px;
  width:82px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:895px;
  top:13px;
  width:64px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:12px;
  top:10px;
  width:7px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:12px;
  top:11px;
  width:22px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:45px;
  top:11px;
  width:22px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:12px;
  top:186px;
  width:182px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:-132px;
  top:1251px;
  width:1366px;
  height:41px;
}
#u30_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:51px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-156px;
  top:1501px;
  width:1366px;
  height:41px;
}
#u32_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:1376px;
  height:51px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:24px;
  top:1513px;
  width:197px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:11px;
  top:1347px;
  width:300px;
  height:144px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:11px;
  top:1315px;
  width:189px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:405px;
  top:1315px;
  width:189px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:405px;
  top:1349px;
  width:36px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:406px;
  top:1368px;
  width:36px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:406px;
  top:1390px;
  width:36px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:407px;
  top:1411px;
  width:36px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:406px;
  top:1435px;
  width:36px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:407px;
  top:1454px;
  width:36px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:702px;
  top:1321px;
  width:263px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:901px;
  top:1381px;
  width:60px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:70px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:702px;
  top:1381px;
  width:200px;
  height:30px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:280px;
  top:179px;
  width:120px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:399px;
  top:179px;
  width:120px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:518px;
  top:179px;
  width:120px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:638px;
  top:179px;
  width:120px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:220px;
  width:1366px;
  height:290px;
  font-size:72px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:290px;
}
#u68 {
  position:absolute;
  left:2px;
  top:104px;
  width:1362px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:30px;
  top:596px;
  width:300px;
  height:144px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:399px;
  top:596px;
  width:300px;
  height:144px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:750px;
  top:596px;
  width:300px;
  height:144px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:90px;
  top:551px;
  width:270px;
  height:24px;
  font-size:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:810px;
  top:549px;
  width:270px;
  height:24px;
  font-size:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:443px;
  top:549px;
  width:270px;
  height:24px;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:24px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:30px;
  top:542px;
  width:70px;
  height:42px;
  font-size:36px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:42px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:399px;
  top:540px;
  width:70px;
  height:42px;
  font-size:36px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:42px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:750px;
  top:540px;
  width:70px;
  height:42px;
  font-size:36px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:42px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:20px;
  top:795px;
  width:1330px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:1313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1330px;
  height:1px;
}
#u88 {
  position:absolute;
  left:20px;
  top:826px;
  width:283px;
  height:37px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:37px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:710px;
  top:826px;
  width:269px;
  height:37px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:37px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:595px;
  top:815px;
  width:10px;
  height:395px;
}
#u92_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u92_end {
  position:absolute;
  left:-5px;
  top:378px;
  width:20px;
  height:18px;
}
#u92_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:395px;
}
#u93 {
  position:absolute;
  left:20px;
  top:900px;
  width:210px;
  height:280px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:280px;
}
#u94 {
  position:absolute;
  left:2px;
  top:132px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:1070px;
  width:210px;
  height:110px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u96 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:40px;
  top:1115px;
  width:170px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:46px;
  top:1082px;
  width:62px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:143px;
  top:1081px;
  width:57px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:20px;
  top:900px;
  width:210px;
  height:170px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
}
#u104 {
  position:absolute;
  left:2px;
  top:73px;
  width:206px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:340px;
  top:1070px;
  width:210px;
  height:110px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u106 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:360px;
  top:1115px;
  width:170px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u108 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:366px;
  top:1082px;
  width:31px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:463px;
  top:1081px;
  width:57px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:340px;
  top:900px;
  width:210px;
  height:170px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
}
#u114 {
  position:absolute;
  left:2px;
  top:73px;
  width:206px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:650px;
  top:1070px;
  width:210px;
  height:110px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u116 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:670px;
  top:1115px;
  width:170px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:676px;
  top:1082px;
  width:85px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:773px;
  top:1081px;
  width:57px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:650px;
  top:900px;
  width:210px;
  height:170px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
}
#u124 {
  position:absolute;
  left:2px;
  top:73px;
  width:206px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1004px;
  top:1070px;
  width:210px;
  height:110px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u126 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1024px;
  top:1115px;
  width:170px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1030px;
  top:1082px;
  width:90px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1127px;
  top:1081px;
  width:57px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1004px;
  top:900px;
  width:210px;
  height:170px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
}
#u134 {
  position:absolute;
  left:2px;
  top:73px;
  width:206px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:518px;
  top:1199px;
  width:170px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
